*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav
{
flex: 1;
text-align: right;
}

nav ul{
    list-style-type: none;
}

nav ul li

{
   display: inline-block;
   margin: 20px;
}

a{
    text-decoration: none;
    color: #0000ff;
}
p{
    color: #0000ff;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}
.row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img{
max-width: 100%;
padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}

.btn{
    display: inline-block;
    background: #ff4500;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5sc;
}

.btn:hover{
background:#7fff00;

}

.header{
    background-image:url(../img/background\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header .row{
    margin-top: 30px;
}
.categories{
    margin: 10px 0;
    text-align: center;
    

}

.col-3{
    flex-basis: 25%;
    min-width: 120px;
    padding-left: 0; 
    padding-right: 10%;   
}

.small-container{
 max-width: 1080px;
 margin: auto; 
 padding-left: 25px;
 padding-right: 25px;  
}

.ladies{
    padding-bottom: 3%;
    padding-top: 2%;
    color: #ff00ff;
    font-size: 45px;
}

.men{
    padding-top: 2%;
    padding-bottom: 3%;
    color: #006;
    font-size: 34px;
}

.price{
    margin-top: 5%;
    color:#ff4500;
}

.price-2{
    margin: 5%;
    color:#0000ff;
}




/*--------footer-----------*/

.footer
{
    
    background-color: #a52a2a;
    padding: 40px 0 30px;
}

.footer-col-1, .footer-col-2, .footer-col-3
{
min-width: 200px;
margin-bottom: 5%;

} 
.footer-col-1{
    flex-basis: 15%;
    color: #f0ffff;
}
.footer-col-2{
    color: #f5f5dc;
    font-size: 19px;
    padding-top: 10px;
}
.footer-col-3{
    color: #ffebcd;
}

.footer hr
{
    border: none;
    background: #ffffff;
    height: 2px;
    margin: 20px;
}

.copyright
{
    text-align: center;
    color: #ffffff;
}

.njumu{
    text-align: center;
    color: #ffffff;
    
}

.icon{

    margin-left: 80%;
}






